<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">

        @* Check if the user is authenticated *@
        @if (User.Identity.IsAuthenticated)
        {
            @* ADMIN MENU *@
            if (User.IsInRole("Admin"))
            {
                <li class="nav-item">
                    <a class="nav-link collapsed" href="index.html">
                        <i class="bi bi-grid"></i>
                        <span>Dashboard</span>
                    </a>
                </li><!-- End Dashboard Nav -->

                <li class="nav-heading">Pages</li>

                <li class="nav-item">
                    <a class="nav-link collapsed ajax-link" href="/Admin/AllUsersView">
                        <i class="bi bi-person"></i>
                        <span>Users</span>
                    </a>
                </li><!-- End All User Nav -->

                @* <li class="nav-item">
                    <a class="nav-link @(ViewContext.RouteData.Values["action"].ToString() == "AllUsers" ? "active" : "")" href="/Admin/AllUsersView">
                        <i class="bi bi-person"></i> Manage Users
                    </a>
                </li> *@

                <li class="nav-item">
                    <a class="nav-link collapsed" href="/Admin/AllDivisionsAndDepartments">
                        <i class="bi bi-question-circle"></i>
                        <span>Division and Department</span>
                    </a>
                </li><!-- End Division and Department Page Nav -->

                <li class="nav-item">
                    <a class="nav-link collapsed" href="/Document/PublicDocument">
                        <i class="bi bi-question-circle"></i>
                        <span>Public Documents</span>
                    </a>
                </li>

                <!-- End Division and Department Page Nav -->   
            }

            @* USER MENU *@
            else if (User.IsInRole("User"))
            {
                <li class="nav-heading">User Pages</li>
                <li class="nav-item">
                    <a class="nav-link collapsed" href="pages-register.html">
                        <i class="bi bi-card-list"></i>
                        <span>Dashboard</span>
                    </a>
                </li>

                <li class="nav-heading">Pages</li>

                <li class="nav-item">
                    <a class="nav-link collapsed" href="/Document/PublicDocument">
                        <i class="bi bi-question-circle"></i>
                        <span>Public Documents</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link collapsed" href="pages-contact.html">
                        <i class="bi bi-envelope"></i>
                        <span>Contact</span>
                    </a>
                </li>
            }
        }
        else
        {
            <li class="nav-heading">Guest Pages</li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="/Account/Login">
                    <i class="bi bi-box-arrow-in-right"></i>
                    <span>Login</span>
                </a>
            </li><!-- End Login Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" href="/Account/Register">
                    <i class="bi bi-person-plus"></i>
                    <span>Register</span>
                </a>
            </li><!-- End Register Nav -->
        }
    </ul>
</aside><!-- End Sidebar -->
